body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center; /* horizontal center */
    align-items: center;     /* vertical center */
}

.center {
    text-align: center;
}

#login{
     height:500px;
     width:500px;
}

#table{
    text-align: center;

}
#sbt {
       width: 100%;
            padding: 10px;
            background: green;
            color: white;
            border: none;
            font-size: 16px;
            cursor: pointer;
} 


#sbt:hover{
         background: darkgreen;

}

